version: "3.9"

services:
  angular-app:
    container_name: angular-rest-countries
    build: .
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    command: ng serve --host 0.0.0.0 --poll=2000
